<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>23 players ~ 23 seconds</title>
</head>
<body>
    <section>
        <div class="main-container">
            <div class="container-wrapper" id="intro-wrapper">
                <h1 class="prompt">23 players ~ 23 seconds</h1>
                
                <div class="input-container">
                    <h2>Name a player who matches the prompt</h2>
                    <h2>The longer the name, the more points</h2>
                    <h2>The faster you are, the more points</h2>
                    <p>*Only players inlcuded in 2024/25 Premier League squads are valid answers</p>
                </div>

                <h1 class="start-text">Click/Enter to begin!</h1>

                <div class="bottom-row">
                    <h3>HIGH: <span id="high-score">0</span></h3> 

                    <div id="mute-icon"></div>
                </div>
            </div>
    
            <div class="container-wrapper" id="ready-wrapper">
                <h1 class="prompt">Get ready!</h1>

                <div class="input-container"></div>
            </div>
    
            <div class="container-wrapper" id="game-wrapper">
                <div class="prompt">example prompt</div>

                <div class="input-container">
                    <input type="text" class="player-input">
                    <div class="players-list">
            
                    </div>
                </div>
            </div>
    
            <div class="container-wrapper" id="results-wrapper">
    
            </div>
        </div>
    </section>
    
    <script src="/static/js/players.js"></script>
    <script src="/static/js/game1.js"></script>
</body>
</body>
</html>